<a href="https://colab.research.google.com/github/Krish1926/Human-Activity-Detection/blob/main/Full.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
!git clone https://github.com/Krish1926/Human-Activity-Detection.git

Cloning into 'Human-Activity-Detection'...
remote: Enumerating objects: 28, done.
remote: Counting objects: 100% (28/28), done.
remote: Compressing objects: 100% (25/25), done.
remote: Total 28 (delta 10), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (28/28), 4.48 MiB | 3.30 MiB/s, done.
Resolving deltas: 100% (10/10), done.

In [28]:
print(human_fall.info())
print("\n",human_fall['activity'].value_counts())

<class 'pandas.core.frame.DataFrame'>
Index: 49574 entries, 0 to 93819
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   AG-X       49574 non-null  float64
 1   AG-Y       49574 non-null  float64
 2   AG-Z       49574 non-null  float64
 3   Acc-X      49574 non-null  float64
 4   Acc-Y      49574 non-null  float64
 5   Acc-Z      49574 non-null  float64
 6   Gravity-X  49574 non-null  float64
 7   Gravity-Y  49574 non-null  float64
 8   Gravity-Z  49574 non-null  float64
 9   RR-X       49574 non-null  float64
 10  RR-Y       49574 non-null  float64
 11  RR-Z       49574 non-null  float64
 12  RV-X       49574 non-null  float64
 13  RV-Y       49574 non-null  float64
 14  RV-Z       49574 non-null  float64
 15  cos        49574 non-null  float64
 16  activity   49574 non-null  object
dtypes: float64(16), object(1)
memory usage: 6.8+ MB
None

 activity
Sitting        12766
Walking        10052
Running         9620
upstaires       8236
Standing        4513
downstaires     4387
Name: count, dtype: int64

### Data Cleaning

In [29]:
print("Missing Values in the Human Fall data:\n")
human_fall.isnull().sum()

Missing Values in the Human Fall data:

AG-X         0
AG-Y         0
AG-Z         0
Acc-X        0
Acc-Y        0
Acc-Z        0
Gravity-X    0
Gravity-Y    0
Gravity-Z    0
RR-X         0
RR-Y         0
RR-Z         0
RV-X         0
RV-Y         0
RV-Z         0
cos          0
activity     0
dtype: int64

In [30]:
# Checking duplicates count per column
duplicates_per_column = human_fall.apply(lambda col: col.duplicated().sum())

print("Number of duplicate values in each column:")
print(duplicates_per_column)

Number of duplicate values in each column:
AG-X         33540
AG-Y         28662
AG-Z         31807
Acc-X          980
Acc-Y         1097
Acc-Z         1362
Gravity-X      950
Gravity-Y     1396
Gravity-Z     1767
RR-X         25783
RR-Y         25819
RR-Z         29445
RV-X           939
RV-Y           925
RV-Z          1052
cos           1304
activity     49568
dtype: int64

In [31]:
# Checking duplicate rows
print("Number of Duplicate Rows in the Human Fall data: ",human_fall.duplicated().sum())
print(human_fall.duplicated())
human_fall = human_fall.drop_duplicates()
print("\nNumber of Duplicates after dropping from the data:\n",human_fall.duplicated())

Number of Duplicate Rows in the Human Fall data:  0
0        False
1        False
2        False
3        False
4        False
         ...
93753    False
93816    False
93817    False
93818    False
93819    False
Length: 49574, dtype: bool

Number of Duplicates after dropping from the data:
 0        False
1        False
2        False
3        False
4        False
         ...
93753    False
93816    False
93817    False
93818    False
93819    False
Length: 49574, dtype: bool

In [ ]:
cd /content/Human-Activity-Detection

/content/Human-Activity-Detection

In [ ]:
! git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean